@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}
.ul {
  position: relative;

  li {
    position: relative;
    width: 100px;
    cursor: pointer;

    p {
      text-align: center;
      width: 100px;
      // color: #80C9F9;
    }
  }

  
  span {
    position: absolute;
    width: 95px;
    left: 460px;
    top: 71px;
    height: 2px;
    background-color: blue;
    transition: 0.3s;
  }
}

.animated{
  animation: backinleft 1.2s ease-out;
}
@keyframes backinleft{
  0%{
    transform: translateX(100%);
    opacity: 0;
  }
30%{
    transform: translateX(-10%);
    opacity: 0;
  }
  100%{
    transform: translateX(0);
  }
}
.Clicked {
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.79);
  width: 100%;  
  height: 919vh;
  transition: .5s;
}


// .container {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//   }

//   .button {
//     margin: 5px;
//     padding: 10px 20px;
//     background-color: #007bff;
//     color: #fff;
//     border: none;
//     border-radius: 5px;
//     cursor: pointer;
//     transition: background-color 0.3s ease;
//   }

//   .button:hover {
//     background-color: #0056b3;
//   }

//   .button.active {
//     background-color: #28a745;
//   }

//   .info {
//     padding: 10px;
//     margin-top: 10px;
//     border: 1px solid #ccc;
//     border-radius: 5px;
//   }

//   .hidden {
//     display: none;
//   }
